{{ partial "header.html" . }}
<body>  
{{ partial "topnav.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-9">
        	<div class="well well-sm">
	        	<strong>Items in category <code>{{ .Title }}</code></strong>
				<ul class="list-unstyled">
	            {{ range where .Data.Pages "Section" "post" }}
	                <li>
						<h5><a href="{{ .Permalink }}/index.html">{{ .Title }}</a><br>
						<small>posted on {{ .Date.Format "January 2, 2006" }}</small></h5>
					</li>
	            {{ end }}
	        	</ul>
        	</div>
        </div>
        <div class="col-md-3">
          {{ partial "sidebar.html" . }}
        </div>
    </div>
{{ partial "footer.html" . }}
