{{ partial "header.html" . }}

<body>  
{{ partial "topnav.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {{ range first 10 .Site.Pages.ByDate.Reverse }}
              {{ if eq .Type "post" }}
                {{ .Render "summary"}}
              {{ end }}
            {{ end }}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          {{ partial "sidebar.html" . }}
        </div>
    </div>
{{ partial "footer.html" . }}